{% extends "bootstrap/base.html" %}  <!--继承-->

{% block title %}Flasky{% endblock %}<!--block标签定义元素可在衍生模板修改-->

{% block navbar %}<!--导航条-->
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Flasky</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li><!--列表中有链接，显示内容是home-->
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}<!--主体内容-->
<div class="container">
    <div class="page-header">
        <h1>{{user.username}}</h1>
        {% if user.name or user.location %}
        <p><!--name和location在同一个<p>元素中渲染，至少定义两个中的一个p才创建-->
            {% if user.name %}{{ user.name}}{% endif %}
            {% if user.location %}
                From <a href="http://maps.google.com/?q={{ user.location }}"><!--location字段渲染成谷歌地图连接-->
                    {{user.location}}
                </a>
            {% endif %}
        </p>
        {% endif %}
        {% if current_user.is_administrator() %}<!--如果是管理员登陆，显示用户的电子邮件地址渲染成mailto链接-->
        <p>
            <a href="mailto:{{user.email}}">{{user.email}}</a>
        </p>
        {% endif %}
        {% if user.about_me %}<p>{{user.about_me}}</p>{% endif %}
        <p>
            Member since {{moment(user.member_since).format('L')}}.
            Last seen {{moment(user.last_seen).fromNow()}}
        </p>
    </div>
</div>
{% endblock %}

